@use '../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-brand-button {
  display: flex;
  align-items: center;
  &__company-logo {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: $gap-sm;
    cursor: pointer;
    &--img {
      max-width: 80px;
      max-height: $scale-rem-5xl;
      object-fit: contain;
      @media (min-width: $scale-px-container-md) {
        max-width: 115px;
      }
    }
  }

  &__icon {
    transition: all ease-in-out 0.3s;
  }
}

.rotate {
  transform: rotate(180deg);
}
