@use '../../../../../../shared/stylesheets/tokens' as *;

.alert-modal__button {
  background-color: $color-blue-dark-300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap-sm-2;
  border: none;
  height: $scale-rem-4xl;
  font-weight: $weight-bold;
  font-size: $text-md-2;
  border-radius: $radius-4xl;
  cursor: pointer;
  color: $color-grey-50;
  text-decoration: none;
  padding: $padding-min;
  width: $scale-full;
  order: 1;
  transition: all ease-in-out 0.3s;

  @media screen and (min-width: $scale-px-container-md) {
    width: fit-content;
    margin-left: $margin-auto;
    order: 0;
    padding: $padding-min $padding-lg;
  }

  img {
    margin-left: $margin-min;
    transition: all ease-in-out 0.3s;
  }

  &:hover img {
    @media (min-width: $scale-px-container-md) {
      transform: translateX(5px);
    }
  }
}
