@use '../../../../shared/stylesheets/tokens' as *;

.magneto-ui-comparative-counter {
  margin: $margin-xs 0;
  font-size: $text-md-2;
  font-weight: $weight-bold;
  color: $color-grey-600;
  line-height: $scale-rem-lg;

  &__max {
    font-weight: $weight-normal;
    color: $color-grey-600;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--over-max {
    color: $color-red-200;
  }
}
