@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-drop-down-button {
  cursor: pointer;
  width: $scale-full;
  background-color: $color-grey-50;
  border: $border-1 solid $color-grey-200;
  border-radius: $radius-md;
  padding: $padding-xl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-grey-900;
  font-size: $text-md-2;
  font-style: normal;
  font-weight: $weight-normal;
  line-height: normal;
  transition: all ease-in-out 0.3s;
  &:hover {
    border: solid $border-1 $color-green-500;
  }

  img {
    width: $scale-px-xl;
    height: $scale-px-xl;
  }
}
