@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-input-file-button {
  border: none;
  border-radius: $radius-4xl;
  padding: $padding-sm $padding-lg;
  min-height: $scale-rem-4xl;
  display: flex;
  gap: $gap-sm-2;
  align-items: center;
  justify-content: center;
  background: $color-grey-50;
  cursor: pointer;
}
