@use '../../../../shared/stylesheets/tokens' as *;

@mixin smallButton {
  padding: $padding-sm $padding-lg;
  p {
    font-size: $text-md;
    line-height: $scale-rem-lg;
  }

  &[data-is-mobile='true'] {
    width: $scale-rem-5xl;
    height: $scale-rem-5xl;
    padding: $padding-min;
  }
}

@mixin mediumButton {
  height: $scale-rem-4xl;
  p {
    font-size: $text-md;
    line-height: $scale-rem-xl;
    width: max-content;
    height: $scale-rem-lg;
    @media (min-width: $scale-px-container-md) {
      font-size: $text-md-2;
      height: unset;
    }
  }
  @media (min-width: $scale-px-container-md) {
    height: unset;
  }

  &[data-is-mobile='true'] {
    width: $scale-rem-5xl;
    height: $scale-rem-5xl;
    padding: $padding-min;
  }
}

@mixin largeButton {
  padding: $padding-md $padding-2xl;
  p {
    font-size: $text-lg;
    line-height: $scale-rem-xl;
  }
  &[data-is-mobile='true'] {
    width: $scale-rem-5xl;
    height: $scale-rem-5xl;
    padding: $padding-min;
  }
}

@mixin fullButton {
  width: $scale-full;
  padding: $padding-sm $padding-lg;
  p {
    font-size: $text-md;
    line-height: $scale-rem-lg;
  }

  @media screen and (min-width: $scale-px-container-xs) {
    padding: $padding-md $padding-2xl;
    p {
      font-size: $text-lg;
      line-height: $scale-rem-xl;
    }
  }
}

.MainButtonComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $gap-sm;
  padding: $padding-sm-2;

  border: none;
  border-radius: $radius-4xl;
  background-color: $color-green-200;
  color: $color-blue-dark-400;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  @media (min-width: $scale-px-container-md) {
    gap: $gap-md-2;
    padding: $padding-sm-2 $padding-xl;
  }

  &:hover {
    filter: brightness(0.9);
  }

  p {
    font-style: normal;
    font-weight: $weight-bold;
    font-size: $text-md-2;
    line-height: $scale-rem-xl;
    margin: $margin-min;
  }

  &[data-button-size='small'] {
    @include smallButton;
  }

  &[data-button-size='medium'] {
    @include mediumButton;
  }

  &[data-button-size='large'] {
    @include largeButton;
  }

  &[data-button-size='full'] {
    @include fullButton;
  }
}

.disabled {
  opacity: $opacity-40;
  cursor: not-allowed;
}
