@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-candidate-nav-button {
  min-height: 44px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-sm $padding-md;
  border: none;
  background-color: $color-transparent;
  gap: $gap-sm-2;
  border-radius: $radius-4xl;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  &--red {
    background-color: $color-red-200;
    &:hover {
      background-color: $color-red-300;
    }
  }
  &--dark-blue {
    background-color: $color-blue-dark-300;
    &:hover {
      background-color: $color-blue-dark-500;
    }
  }
  &--gray {
    background-color: $color-grey-100;
    &:hover {
      background-color: $color-grey-200;
    }
  }
  &--arrow {
    display: flex;
    justify-content: center;
    width: 44px;
    background-color: $color-transparent;
    border: none;
    cursor: pointer;
    padding: $padding-min;
  }
}
