@use '../../../../../../shared/stylesheets/tokens' as *;

.button-summary {
  margin: $margin-sm-2 $margin-min;
  border: none;
  height: 48px;
  padding: $padding-md-2 $padding-2xl;
  border-radius: $radius-4xl;
  display: flex;
  align-items: center;
  gap: $gap-sm-2;
  cursor: pointer;
  font-size: $text-xl;
  @media (max-width: $scale-px-container-sm) {
    width: $scale-full;
    justify-content: center;
    gap: $gap-4xl;
  }
}

.primary {
  background-color: $color-blue-dark-300;
  color: $color-grey-50;
  font-weight: $weight-bold;
}

.secondary {
  background-color: $color-grey-100;
  color: $color-grey-900;
}
