@use '../../../../shared/stylesheets/tokens' as *;

.magneto-ui-user-menu-button-analyst {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $gap-sm-2;
  background: rgba($color-grey-900, $opacity-30);
  border: none;
  color: $color-grey-50;
  white-space: nowrap;
  font-weight: $weight-bold;
  font-size: $text-md-2;
  line-height: $scale-rem-xl;
  border-radius: $radius-xs;
  padding: $padding-sm;
}
