@use '../../../../shared/stylesheets/tokens' as *;

.button-link {
  display: flex;
  flex-direction: row;
  background-color: $color-grey-50;
  width: max-content;
  padding: $padding-sm-2 $padding-sm;
  text-decoration: none;
  cursor: pointer;
  gap: $gap-sm;
  font-size: $text-md-2;
  font-weight: $weight-bold;
  border-radius: $radius-sm;
  align-items: center;

  &__text {
    margin: $margin-min;
  }

  &:hover {
    background-color: $color-grey-200;
    transition: all ease-in-out 0.3s;
  }
}
