@use '../../../../shared/stylesheets/tokens' as *;

$bar-max-width: $scale-px-5xl + $scale-px-xl;

.magneto-ui-chart-bar {
  --magneto-chart-bar-point-color: #{$color-blue-light-400};

  width: min(4vw, $bar-max-width);
  background-color: $color-grey-400;
  position: relative;
  cursor: default;

  &:focus-visible {
    outline: $border-2 solid $color-blue-light-300;
    outline-offset: $scale-px-xs;
  }

  &__point {
    height: $scale-px-sm;
    width: $scale-px-sm;
    border-radius: $radius-full;
    position: absolute;
    top: calc(-1 * #{$scale-px-xs});
    right: calc((min(4vw, #{$bar-max-width}) / 2) - #{$scale-px-xs});
    background-color: var(--magneto-chart-bar-point-color);
  }

  &__popover {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-xs;
    border-radius: $radius-md;
    padding: $padding-sm;
    width: max-content;
    background-color: $color-grey-800;
    color: $color-grey-50;
    font-size: $text-md-2;
    font-weight: $weight-normal;
    line-height: $scale-rem-lg;
    bottom: 100%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    margin-bottom: $gap-sm;
    pointer-events: none;
  }

  &__popover--left {
    left: auto;
    right: 0;
    transform: translateX(-5%);
  }

  &__popover--right {
    left: 0;
    transform: translateX(0);
  }

  &:hover {
    background-color: $color-blue-dark-300;
  }
}
