@use '../../../../../../shared/stylesheets/tokens' as *;

.button {
  display: flex;
  gap: $gap-sm-2;
  align-items: center;
  border-radius: $radius-3xl;
  padding: $padding-md $padding-md-2;
  border: none;

  &--grey {
    background-color: $color-grey-100;
    color: $color-grey-900;

    &:hover {
      background-color: $color-grey-200;
    }
  }

  &--blue {
    background-color: $color-blue-dark-300;
    color: $color-grey-50;
    &:hover {
      background-color: $color-blue-dark-500;
    }
  }

  &--green {
    background-color: $color-green-200;
    color: $color-blue-dark-400;
    &:hover {
      background-color: $color-green-300;
    }
  }

  &:disabled {
    background-color: $color-grey-200;
    opacity: $opacity-70;
  }
}
