@use '../../../../shared/stylesheets/tokens' as *;
@use '../../../../shared/stylesheets/icon-glyph' as *;

.magneto-ui-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: $icon-md;
  height: $icon-md;
  color: $color-current;
  transition: transform 0.2s ease;
  aspect-ratio: 1;

  &--size-xs {
    width: $icon-xs;
    height: $icon-xs;
  }

  &--size-sm {
    width: $icon-sm;
    height: $icon-sm;
  }

  &--size-md {
    width: $icon-md;
    height: $icon-md;
  }

  &--size-lg {
    width: $icon-lg;
    height: $icon-lg;
  }

  &--size-xl {
    width: $icon-xl;
    height: $icon-xl;
  }
}

.magneto-ui-hover {
  transition: transform ease-in 0.2s;

  &:hover {
    transform: scale($scale-rem-sm-2);
  }
}

.magneto-ui-rotate {
  transform: rotate(180deg);
}
