@use '../../../../shared/stylesheets/tokens' as *;

.magneto-ui-toggle-button {
  width: auto;
  height: 41px;
  padding: $padding-md $padding-lg;
  border-radius: $radius-sm;
  display: flex;
  align-items: center;
  gap: $gap-sm;
  cursor: pointer;
  transition: filter ease-in-out 0.3s;
  font-weight: $weight-normal;
  border: $color-grey-200 solid $border-1;
  &:hover {
    filter: brightness(0.9);
  }
  &__img {
    width: $scale-px-xl;
    height: $scale-px-xl;
  }
}

.toggle-button-selected {
  border: none;
  font-weight: $weight-bold;
}

.toggle-image-selected {
  filter: brightness(10);
}
