@use '../../../../../../shared/stylesheets/tokens' as *;

.magneto-ui-field-list {
  margin: 0;
  padding: 0;
  width: $scale-full;
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  background-color: $color-grey-50;
  transition: all ease-in-out 0.3s;
  position: relative;
  &--desktop {
    max-height: calc(228px / $scale-px-base) * 1rem;
    position: absolute;
    z-index: 1;
    top: $scale-full;
    left: 0;
    border-bottom-left-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
  }
  &--desktop#{&}--up {
    top: auto;
    bottom: $scale-full;
    padding-top: $padding-md;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: $radius-sm;
    border-top-right-radius: $radius-sm;
  }
  &--error {
    border-left: solid $border-1 $color-red-200;
    border-right: solid $border-1 $color-red-200;
    border-bottom: solid $border-1 $color-red-200;
    box-shadow: $shadow-none;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.magneto-ui-field-list-shadow {
  position: absolute;
  pointer-events: none;
  box-shadow: $shadow-20;
  bottom: 0;
  left: 0;
  background-color: $color-transparent;
  border: none;
  border-radius: $radius-sm;
  transition: opacity ease-in-out 0.3s;
  &--up {
    bottom: auto;
    top: 0;
  }
  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
  &--visible {
    opacity: 1;
    visibility: visible;
  }
}
