@use '../../../../shared/stylesheets/tokens' as *;

.magneto-ui-save-button {
  border: none;
  border-radius: $radius-3xl;
  background-color: $color-transparent;
  padding: $padding-sm-2 $padding-md;
  cursor: pointer;

  &__mobile-text {
    margin: $margin-min;
    font-size: $text-md-2;
    font-style: normal;
    font-weight: $weight-normal;
    line-height: normal;
    color: $color-grey-900;
  }

  &.hover-effect {
    &:hover {
      background-color: $color-grey-200;
      transition: all ease-in-out 0.3s;
      transform: scale(1.001);
    }
  }

  .button-content {
    display: flex;
    align-items: baseline;
    gap: $gap-sm;
  }
}
