@use '../../../../shared/stylesheets/tokens' as *;

.search-button {
  position: relative;
  &__badge {
    background-color: $color-red-200;
    width: $scale-px-md;
    height: $scale-px-md;
    position: absolute;
    left: $scale-px-md;
    top: -#{$scale-px-xxs * 2};
    border-radius: $radius-4xl;
    border: $color-grey-50 $border-2 solid;
    z-index: 1;
  }
}
