@use '../../../../shared/stylesheets/tokens' as *;

.magneto-ui-bar-loader {
  width: $scale-full;
  height: $scale-px-sm;
  background-color: $color-grey-100;
  border-radius: $radius-4xl;
  overflow: hidden;
  margin: $margin-lg 0;

  &__bar {
    height: $scale-full;
    border-radius: $radius-4xl;
    background-color: var(--bar-loader-color, #{$color-blue-dark-400});

    &--animated {
      width: $scale-full;
      animation: magneto-ui-bar-loader-progress 1.5s linear infinite;
    }

    &--completed {
      width: var(--bar-loader-completed, 0%);
      transition: width 0.5s ease-in-out;
    }
  }

  @keyframes magneto-ui-bar-loader-progress {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}
