@use '../../../../shared/stylesheets/tokens' as *;

.magneto-ui-share-button {
  border: none;
  border-radius: $radius-4xl;
  background-color: $color-transparent;
  padding: $padding-md $padding-md-2;
  cursor: pointer;

  &__mobile-text {
    margin: $margin-min;
    font-size: $text-md-2;
    font-style: normal;
    font-weight: $weight-normal;
    line-height: normal;
    color: $color-grey-900;
  }

  .button-content {
    display: flex;
    align-items: center;
    gap: $gap-xl;
  }
}

.hover-effect {
  &:hover {
    background-color: $color-grey-200;
    transition: all ease-in-out 0.3s;
  }
}
